
#exclude binary files
.DS_Store
*/.DS_Store
././*.gch
././*.dSYM
./.*.gch
./.*.dSYM
././a.out
./a.out
a.out
./././a.out
*.json
./*.json
././*.json
./././*.json
.vscode
./.vscode
*.exe
*.obj
*.swp
*/*.swp
*.gch
*/*.gch
*/*/*.gch
